<app-menu></app-menu>

<div class="wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col col-lg-1 col-md-1 col-sm-1 col-1"></div>
      <div class="col col-lg-10 col-md-10 col-sm-10 col-10">
        <div class="alert alert-light">
          <h1 class="text-center" >O AUTORU</h1>
          <img class="text-center"  src = "../../../../assets/mm.jpg" style="display: block; margin-left: auto; margin-right: auto;">
          <p class="lead"><i>Za ovaj projekat zadužena je Marija Mandić, student 3.godine fakulteta tehničkih nauka u Novom Sadu.</i></p>
          <p class="lead"><i>Projekat je rađen za predmet Razvoj višeslojnih aplikacija i pruža sve informacije o studentima, fakultetima i njihovim departmanima. </i></p>

          <p class="lead"><i>Email : mandic.marija55@gmail.com</i></p>

        </div>
      </div>
      <div class="col col-lg-1 col-md-1 col-sm-1 col-1"></div>
    </div>
  </div>
</div>
