<app-menu></app-menu>

<div class="wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col col-lg-1 col-md-1 col-sm-1 col-1"></div>
      <div class="col col-lg-10 col-md-10 col-sm-10 col-10">
        <div class="alert alert-light">
          <h1 class="text-center" >O projektu</h1>
          <p class="lead"><i></i></p>
          <p class="lead"><i></i></p>
          <p class="lead"><i>Ovaj projekat je rađen za predmet Razvoj višeslojnih aplikacija. Pruža sve neophodne informacije o studentima.
            Mogu se uočiti tabele sa fakultetima, svim departmanima koji postoje na istim, kao i tabela sa statusima koja prikazuje da li je student na budžetu ili ne.
            Projekat olakšava vođenje evidencije o studentima i jasan i precizan pregled podataka. </i></p>
        </div>
      </div>
      <div class="col col-lg-1 col-md-1 col-sm-1 col-1"></div>
    </div>
  </div>
</div>
