<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <img src="../../../assets/h3.png" width="30" height="30" alt="">
      </a>
      <a class="navbar-brand" >StudentApp</a>
    </div>
    <ul class="nav navbar-nav navbar-center">
      <li class="navbar-item active" (click) = "home()"> <a class="nav-link" >Home</a></li>
      <li class="navbar-item active" (click) = "autor()"><a class="nav-link"   >Author </a></li>
      <li  class="navbar-item active" (click) = "about()"><a class="nav-link"  >About</a></li>
      <li class="navbar-item active" (click) = "fakultet()"><a class="nav-link"  >Faculties</a></li>
      <li class="navbar-item active" (click) = "status()"><a class="nav-link"   >Status</a></li>
      <li class="navbar-item active" (click) = "departman()"><a class="nav-link"  >Departman</a></li>
    </ul>
  </div>
</nav>

</body>
</html>
